.login {

  /*.login-panel, .register-panel {
    position: relative;
    width: 50%;
    min-height: 200px;
    float: left;
  }

  .login-panel {

  }

  .register-panel {
    
  }*/

  p.registration-link {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
  }
}