.screen {
  padding: 0 50px;
  padding-bottom: 25px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  color: #333;


  .title {
    display: flex;
    flex-direction: row;

    h1 {
      font-size: 32px;
      flex: 1;
      margin: 10px 0;
    }

    ul.button-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      .btn {
      }
    }
  }

  hr {
    margin: 10px 0;
    border: none;
    border: 1px solid #eee;
  }
}