.how-it-works {
  .part {
    padding-bottom: 25px;
    overflow: auto;
    
    &:not(:first-of-type) {
      padding-top: 25px;
    }
    
    &:not(:last-of-type) {
      border-bottom: 5px solid #eee;
    }

    h3 {
      text-align: left;
      margin: 5px 0;
      margin-top: 0;
      color: #485a69;
      font-size: 24px;
    }

    p {
      margin: 0;
    }

    .circle {
      margin-right: 25px;
      border-radius: 50%;
      background-color: #f7f8fa;
      width: 140px;
      height: 140px;

      &.left {
        float: left;
      }
      &.right {
        float: right;
      }

      img {
        width: 80px;
        height: 80px;
        margin: 140px / 2 - 80px / 2;
      }
    }
  }
}