.intro-header {
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
  color: #fff;
  // background-color: rgba(0,0,0,0.75);
  // border-radius: 15px;
  // box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-bottom: 50px;

  .buttons {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;

    > .btn {
      flex: 1;
      margin: 0 10px;
    }
  }

  .center-panel {
    // height: 300px;
    padding: 40px 0;
    padding-top: 10px;

    text-align: center;
    h1 {
      margin: 0;
      font-size: 44px;
    }

    p {
      font-size: 24px;
    }
  }
}

@keyframes rotation-front {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotation-back {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}